! *.font: xft:InputMonoNarrow Nerd Font:size=11:antialias=true
*.font: xft:PragmataPro Nerd Font:size=14:antialias=true
! *.font: xft:PT Mono Nerd Font:size=12:antialias=true
*.background:  #1e1f29
*.foreground:  #ebece6
*.cursorColor: #ebece6
*.color0:      #000000
*.color10:     #50fb7c
*.color11:     #f0fb8c
*.color12:     #49baff
*.color13:     #fc4cb4
*.color14:     #8be9fe
*.color15:     #ededec
*.color1:      #fc4346
*.color2:      #50fb7c
*.color3:      #f0fb8c
*.color4:      #49baff
*.color5:      #fc4cb4
*.color6:      #8be9fe
*.color7:      #ededec
*.color8:      #555555
*.color9:      #fc4346

rofi.color-enabled: true
rofi.color-window: argb:cf1e1f29, #1e1f29, #000000
rofi.color-normal: argb:00000000, #ebece6, argb:00000000, argb:cfebece6, #1e1f29
rofi.color-active: argb:00000000, #49baff, argb:00000000, argb:cf49baff, #1e1f29
rofi.color-urgent: argb:00000000, #fc4346, argb:00000000, argb:cffc4346, #1e1f29
! rofi.font: InputMonoNarrow Nerd Font 16
rofi.font: PragmataPro Nerd Font 16
rofi.ssh-client: mosh

URxvt.background: [90]#1e1f29
URxvt.depth: 32
URxvt.saveLines: 1000000
URxvt.scrollBar: false
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
